<!DOCTYPE html>
<html lang="en">
{{template "head.tmpl"}}
<body>
  <div class="container">
    {{template "nav.tmpl" .}}
    
    <h1>Error</h1>
    <p>{{ .error.Message }}</p>

    {{template "footer.tmpl" .}}
  </div>
</body>
</html>