<!DOCTYPE html>
<html lang="en">
{{template "head.tmpl"}}
<body>
  <div class="container">
    {{template "nav.tmpl" .}}
    
    <h1>401: Unauthorized</h1>

    {{template "footer.tmpl" .}}
  </div>
</body>
</html>