<!DOCTYPE html>
<html lang="en">
{{template "head.tmpl"}}
<body>
  <div class="container">
    {{template "nav.tmpl"}}
    
    <h1>404: Page not found</h1>

    {{template "footer.tmpl"}}
  </div>
</body>
</html>