<!DOCTYPE html>
<html lang="en">
{{template "head.tmpl"}}
<body>
  <div class="container">
    {{template "nav.tmpl" .}}
    
    <h1>Account created</h1>
    <p>Your username: {{ .data.Username }}</p>
    <p>Created at: {{ .data.Created }}</p>

    <a href="/accounts/login" class="btn btn-primary">Login</a>

    {{template "footer.tmpl" .}}
  </div>
</body>
</html>