<!DOCTYPE html>
<html lang="en">
{{template "head.tmpl"}}
<body>
  <div class="container">
    {{template "nav.tmpl"}}
    
    <h1>Message</h1>

    <p>ID: <a href="/messages/{{ .Digest }}">{{ .Digest }}</a></p>
    <p>Created at: {{ .Created }}</p>
    <p class="fw-bold">PIN: {{.Pin}}</p>
    <p>Content: {{.Content}}</p>

    {{template "footer.tmpl"}}
  </div>
</body>
</html>