<!DOCTYPE html>
<html lang="en">
{{template "head.tmpl"}}
<body>
  <div class="container">
    {{template "nav.tmpl" .}}
    
    <h1>Message</h1>

    <p>ID: <a href="/messages/{{ .data.PartitionKey }}">{{ .data.PartitionKey }}</a></p>
    <p>Created at: {{ .data.Timestamp }}</p>
    <p class="fw-bold">PIN: {{.data.Pin}}</p>
    <p>Content: {{.data.Content}}</p>

    {{template "footer.tmpl" .}}
  </div>
</body>
</html>