<!DOCTYPE html>
<html lang="en">
{{template "head.tmpl"}}
<body>
  <div class="container">
    {{template "nav.tmpl" .}}
    
    <h1>Stats</h1>

    <ul>
      <li>Registered accounts: {{ .data.TotalUsers }}</li>
      <li>Active messages: {{ .data.TotalMessages }}</li>
    </ul>

    {{template "footer.tmpl" .}}
  </div>
</body>
</html>